<form action="/new_recipe" method="POST" class="form">
  <div class="form">
    <label for="name">Recipe's name: </label>
    <input type="text" name="name" id="name" required>
  </div>
  <div class="form">
    <label for="description">Description: </label>
    <input type="text" name="description" id="description" required>
  </div>
  <div class="form">
    <label for="rating">Rating: </label>
    <input type="text" name="rating" id="rating" required>
  </div>
  <div class="form">
    <label for="prep_time">Preparation time: </label>
    <input type="text" name="prep_time" id="prep_time" required>
  </div>
  <div class="form">
    <input type="submit" value="Subscribe!">
  </div>
</form>